@model IEnumerable<Saude.Models.Entity.Tipo_Cargo_Profissional_Saude>

@{
    ViewData["Title"] = "Lista de cargos de profissionais de saúde";
}

	<h1>Lista de cargos de profissionais de saúde</h1>

<p class="float-right">
	<a class="btn btn-info" asp-action="Create" aria-label="Criar novo">Criar novo</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
	            <a class="btn btn-light" aria-label="Detalhes" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
	            <a class="btn btn-info" aria-label="Editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger" aria-label="Remover" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
